<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="cmDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"><value>${hibernate.connection.driver_class}</value></property>
		<property name="url"><value>${hibernate.connection.url}</value></property>
		<property name="username"><value>${hibernate.connection.username}</value></property>
		<property name="password"><value>${hibernate.connection.password}</value></property>
	</bean>
    
    <bean id="cmSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource"><ref bean="cmDataSource"/></property>
        <property name="mappingResources">
            <list>
                <value>org/sakaiproject/coursemanagement/impl/AcademicSessionImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/MembershipContainer.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/CanonicalCourseImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/CourseOfferingImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/CourseSetImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/CrossListing.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/EnrollmentImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/EnrollmentSetImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/MembershipImpl.hbm.xml</value>
                <value>org/sakaiproject/coursemanagement/impl/SectionImpl.hbm.xml</value>
            </list>
        </property>
        
        <property name="hibernateProperties">
          <props>
            <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
            <prop key="hibernate.query.substitutions">true 1, false 0</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
          </props>
        </property>
    </bean>

    <bean id="cmTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory"><ref bean="cmSessionFactory"/></property>
    </bean>
    
    <bean abstract="true" id="cmTxTemplate" lazy-init="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref bean="cmTransactionManager"/></property>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

	<bean id="org.sakaiproject.coursemanagement.api.CourseManagementService" parent="cmTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.coursemanagement.impl.CourseManagementServiceHibernateImpl">
        		<property name="sessionFactory"><ref bean="cmSessionFactory"/></property>
            </bean>
        </property>
	</bean>
	
	<bean id="org.sakaiproject.coursemanagement.test.DataLoader" parent="cmTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.coursemanagement.test.HibernateTestDataLoader">
        		<property name="sessionFactory"><ref bean="cmSessionFactory"/></property>
        		<property name="courseManagementService"><ref local="org.sakaiproject.coursemanagement.api.CourseManagementService"/></property>
            </bean>
        </property>
	</bean>
	
	<bean id="org.sakaiproject.coursemanagement.api.CourseManagementAdministration" parent="cmTxTemplate">
        <property name="target">
            <bean class="org.sakaiproject.coursemanagement.impl.CourseManagementAdministrationHibernateImpl">
        		<property name="sessionFactory"><ref bean="cmSessionFactory"/></property>
	        	<property name="cmService"><ref bean="org.sakaiproject.coursemanagement.api.CourseManagementService"/></property>
            </bean>
        </property>
	</bean>

</beans>
